// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.customDiv{
	background:grey;
}


.thumbnail{
	width: 100%;
}

.thumbnail img{
   display: inline-block;
   display: block;
	height: 100%;
	width: 100%;
}



